<!DOCTYPE html>
<html>
<head>
	<title>Dojo Site</title>
	  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'styles2.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	

	<a id="home" href="/books">Home</a><a href="/logout">Logout</a>
	<h3>Add a New Book Title and a Review:</h3>
	<form action="/registerbook" method="post">
	{% csrf_token %}
	Book Title: <input id="title" type="text" name="title"><br>
	Author:<br>
	 <span style="display:inline-block; width: 50px;"></span>Choose from the list:
	<select name="author1">
		<option selected>None</option>
		  {%for i in authorlist%}
		  
		  <option value="{{i}}">{{i}}</option>
		  {%endfor%}

	</select>
	<br>
	 <br>
	<span style="display:inline-block; width: 50px;"></span>Or add a new author: <input id="author2" type="text" name="author2"><br><br>
	Review: <textarea id="review" rows="4" cols="50" name="contentreview" >Your review here...</textarea>
	<br><br>
	Rating: <select name="rating">
		  <option value="1">1</option>
		  <option value="12">2</option>
		  <option value="123">3</option>
		  <option value="1234">4</option>
		  <option value="12345">5</option>
		</select> stars.
		<br>
	<input id="submit" type="submit" value="Add book and review">
	</form>
	








</body>
</html>
