
#liked{
	color:red;
	font-weight: bold;
}

#error{
	color: red;
}
#addbook{
	display: inline-block;
	margin-left: 500px;
}
#welcome{
	display: inline-block;
}
#home{
	margin-left: 600px;
	margin-right: 20px;
}
#review{
	margin-top: 30px;
	vertical-align: top;
}
#title{
	width: 300px;
}
#author{
	width: 200px;
}

#submit{
	margin-left: 300px;
	margin-top: 30px;
}
